{% extends '../layouts/layout.html' %}
{% block title %} 根页面 {% endblock %}
{% block head %}
    {% endblock  %}
{% block content %}
    <div>
        <h1>根页面</h1>
        <!-- <div id="example">
            <p>{{message}}</p>
            <input v-model="message">
        </div> -->
        <input type="button" value="点击" id="js-btn-click">
     <div>
{% endblock %}
{% block scripts %}
    <script type="module">
        import("/script/index.js").then((_)=>{
            _.default();
        })
    </script>
    <script nomodule>
        System.import("/script/index.bundle.js").then((_)=>{
            _.default;
        });
        
    </script>
{% endblock %}
